<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Categories</mat-card-title>
      <mat-card-subtitle>Create/View your subject categories</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        View your categories learning using below buttons. Add your new learning categories using '+' button below
      </p>
      <mat-card-actions>
        <button mat-raised-button color="accent" (click)="addCategory()">+</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>