<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Interview Easy</mat-card-title>
      <mat-card-subtitle>It starts today</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src='./assets/images/home.png' alt="It starts today">
    <mat-card-content>
      <p>
        Build your future by clicking on start. Get to know about a hidden world.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="start()">Start</button>
    </mat-card-actions>
  </mat-card>
  